/* Importing downloaded font */
@font-face {
  font-family: 'MyFont', sans-serif;
  src: url('./my-font.ttf') format('ttf');
}

#toDo {
  color: red;
  font-family: 'MyFont', sans-serif;
  font-size: 1rem;
  font-weight: 600;
  font-style: italic;
}
